<%= form_tag '/order', :remote => true do %>
  <input type="hidden" name="photo_id" value="" id="photo_id" />
  <ul>
  <%- %w(name address1 address2 city state zipcode email).each do |field| -%>
    <li>
      <%= label_tag(field.to_sym, field.capitalize) %><br/>
      <%= text_field_tag(field.to_sym) %>
   </li>
  <%- end -%>
  </ul>
  <%= submit_tag "Place order >>", :class => "orange button" %>
<%- end -%>
<div class="preview-wrapper">
  <div class="preview">
    Please allow for up to 10 days shipping.
  </div>
</div>
