<form action="/payment" method="POST" id="payment-form">
  <div class="info">
    Your credit card will be charged $100 dollars ($80 if you complete your
    order before midnight on November 28th)
  </div><br/>
  <%= image_tag "stripe.png", :class => "stripe-logo" -%>
  <div class="form-row">
    <label>Card Number</label><br/>
    <input type="text" size="20" autocomplete="off" class="card-number"/>
  </div>
  <div class="form-row">
    <label>CVC</label><br/>
    <input type="text" size="4" autocomplete="off" class="card-cvc"/>
  </div>
  <div class="form-row">
    <label>Expiration (MM/YYYY)</label><br/>
    <input type="text" size="2" class="card-expiry-month"/>
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year"/>
  </div>
  <button type="submit" class="submit-button button orange">Submit Payment >></button>
</form>
