<h1>Put a Frame On It</h1>
<p>
  You take some good pictures, and you know it. Show off your favorites by
ordering a framed print that you can hang in your living room and be the envy of
all your guests!
</p>
<div class="page-wrapper">
  <div class="roundbox">
  </div>
  <div class="content">
    <div class="page uploader">
      <%= render :partial => "uploader" %>
    </div>
    <div class="page order">
      <%= render :partial => "orderform" %>
    </div>
    <div class="page payment">
      <%= render :partial => "payment" %>
    </div>
  </div>
</div>
