<h1>Put a Frame On It</h1>
<div class="preamble">
  <p>
  You take some good pictures and you know it.<br/><br/>

  We'll print, frame, and deliver your photos so you can have a tangible copy of
  your work. You'll get a high quality, 16 x 24 matte print in a slick one inch
  black frame. Your art is worth spending five minutes on.
  </p>
</div>
<div class="notification"> </div>
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
<div class="page-wrapper">
  <div class="roundbox">
  </div>
  <div class="content">
    <div class="page uploader">
      <%= render :partial => "uploader" %>
    </div>
    <div class="page order">
      <%= render :partial => "orderform" %>
    </div>
    <div class="page payment">
      <%= render :partial => "payment" %>
    </div>
  </div>
</div>
<img src="http://i.imgur.com/GbHke.gif" class="cachedns" />
