$dark_gray: #333;
$off_white: #eee;
$content_width: 660px;
$frame_width: 500px;
$frame_height: 375px;

@mixin round-corners($radius) {
 -moz-border-radius: $radius;
 -webkit-border-radius: $radius;
 -khtml-border-radius: $radius;
  border-radius: $radius;
}
@mixin adjust-opacity($opacity) {
 -khtml-opacity: $opacity; 
 -moz-opacity: $opacity; 
 -ms-filter: "alpha(opacity=$opacity * 100)";
  filter: alpha(opacity=$opacity * 100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity);
  opacity: $opacity;
}
body {
  background-image: url(/assets/45_5557140133_f21c0a4d27_o.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font: bold 16px Helvetica;
  width: 100%;
  margin: 0 auto;
}
.preamble {
  margin: 20px auto;
  width: 580px;
  height: 115px;
  text-align: center;
  background: #333;
  color: #eee;
  padding: 10px 40px;
  line-height: 1.5em;

  p {
    height: 100%;
  }

  @include round-corners(5px);
}
h1 {
  font: bold 44px Helvetica;
  margin: 0 0 10px;
  text-align: center;
}
.notification {
  display: none;
  width: $content_width;
  background: #f66;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  @include round-corners(5px);
}
#flash_notice {
  width: $content_width;
  background: #ff6;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  @include round-corners(5px);
}
.page-wrapper {
  position: relative;
  width: $content_width;
  margin: 0 auto;
}
$content_height: 535px;
.page-wrapper .content {
  width: $content_width;
  height: $content_height;
  margin: 15px auto;
  padding-top: 20px;
  color: $dark_gray;
}
.page-wrapper .roundbox {
  background:url(/assets/spinner.gif) no-repeat center center;
  position: absolute;
  width: $content_width;
  height: $content_height;
  margin: auto;
  background-color: #000;
  z-index: -20;

  @include adjust-opacity(.6);
  @include round-corners(20px);
}
@mixin frame {
  border: 15px ridge $dark_gray;
  margin: 50px auto;
  background-repeat: no-repeat;
  background: $off_white;
}
.uploader .preview {
  @include frame;
  width: $frame_width;
  height: $frame_height;
  margin: 50px auto 10px;
  ol {
    font-size: 18px;
    li {
      margin: 10px;
    }
  }
}
.order .preview {
  @include frame;
  margin: 0 auto;
}
.content .uploader {
  height: $content_height;
  form {
    width: $frame_width;
    margin: 0 auto;
    button {
      float: right;
    }
  }
}
.content .order {
  display: none;
  color: $off_white;
  width: $content_width;
  padding: 35px 10px;
  form {
    width:200px;
    display: inline-block;
  }
  .preview-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 400px;
  }
  label {
    font-size: 12px;
    margin-bottom:0px;
  }
  input {
    margin: 3px 1px;
  }
  input[type=submit] {
    margin: 40px;
    width: 205px;
  }
  li {
    list-style-type: none;
  }
}
.content .payment {
  display: none;

  form {
    @include round-corners(10px);
    width: $frame_width;
    height: 210px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: $off_white;
    button {
      float: right;
    }

    position: absolute;
    left: 50%;
    margin-left: -270px;

    .stripe-logo {
      float: right;
    }
  }
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 14px/100% Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.cachedns {
  width: 0;
  height: 0;
}
